/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 10, 2021, 12:44:58 AM
    Author     : 854276
*/
#addBox,#editBox,#manageBox {
    /*        border: 1px solid black;*/
    padding: 40px;
    border-radius: 5px;
    background-color: white;
    margin-left: 50px;
    margin-top: 30px;
    width: 200px;
    min-width: 400px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #000d1a;
    box-shadow: 2px 2px 5px #888888;

}

body {
    background-color: #ecedf5;

}

h1 {

    font-size: 50px;
}


table, th, td {
    border: 1px solid black;
}
